[flake8]
# it's not a bug that we aren't using all of hacking, ignore:
# F401: A module has been imported but is not used anywhere in the file
# F812: list comprehension redefines ...
# H101: Use TODO(NAME)
# H202: assertRaises Exception too broad
# H233: Python 3.x incompatible use of print operator
# H301: one import per line
# H306: imports not in alphabetical order (time, os)
# H401: docstring should not start with a space
# H403: multi line docstrings should end on a new line
# H404: multi line docstring should start without a leading new line
# H405: multi line docstring summary not separated with an empty line
# H501: Do not use self.__dict__ for string formatting
#
# E501: line too long (82 > 79 characters)
# E129: visually indented line with same indent as next logical line
# E126: continuation line over-indented for hanging indent
# E711: comparison to None should be ‘if cond is None:’
# E999: SyntaxError: invalid syntax
# W504: line break after binary operator
# W503: line break before binary operator
# W605: invalid escape sequence
max-line-length = 248
ignore = N813,F401,F812,H101,H202,H233,H301,H306,H401,H403,H404,H405,H501,E501,E999,E129,E126,E711,W503,W504,W605,N801,N806
# exclude = web-servcie-base,fauths/tests
